build/
_build/
builddir/
CmakeLists.txt.user
.directory
.VSCodeCounter/

# flatpak
io.github.glaumar.QRookie.flatpak
QRookie.flatpak
.flatpak
build_flatpak/
.flatpak-builder/
export/
repo/

# nix
result

# direnv
.envrc
.direnv

# ccls
.ccls-cache

# lvim
.cache

# MacOs Dependencies
/macOs/dependencies
/macOs/build*
*.app
*.dmg
