build/
builddir/
CmakeLists.txt.user
.directory
build_flatpak/
.flatpak-builder/
export/
QRookie.flatpak
repo/
.VSCodeCounter/
.flatpak
_build/
io.github.glaumar.QRookie.flatpak
result

# MacOs Dependencies
/macOs/dependencies
/macOs/build*
*.app
*.dmg
