#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Name=QRookie
Name[zh_CN]=QRookie
Comment=Download and install Quest games from ROOKIE Public Mirror 
Comment[zh_CN]=从 ROOKIE 公共镜像下载和安装 Quest 游戏
Exec=QRookie
Icon=io.github.glaumar.QRookie
Terminal=false
Categories=Game;Utility;