name: Create MacOS Bundle(x86_64)

on:
  release:
    types: [published]
    
jobs:
  build:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
      with: 
        lfs: true

    - name: Install Homebrew
      run: |
        arch -x86_64 /bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"
        
    - name: Build
      run: |
        cd macOs/
        arch -x86_64 ./signApp.sh

    - name: Upload binaries to release
      uses: svenstaro/upload-release-action@v2
      with:
        repo_token: ${{ secrets.TOKEN }}
        file: macOs/QRookie_${{ github.ref }}_x86_64.dmg
        asset_name: QRookie_${{ github.ref }}_x86_64.dmg
        tag: ${{ github.ref }}